---
layout: page
title: Essays
permalink: /
description: in chronological order
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'coding' or 'life' %}
  		<li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} ~ {{ post.categories[0] }} ~ <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
     	</li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
