---
layout: page
title: Everything
permalink: /
---

<div class="home">

  <ul>

    {% for category in site.categories %}
        <br/><span>{{ category[0] }}</span><br/>
        {% for post in category[1] %}
          <span class="post-meta">{{ post.date | date: "%Y %b %-d" }} >> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span><br/>
        {% endfor %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
